 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif;
     outline: none;

 }

 body {
     background-color: #8A51FC;

 }

 .logo-money {
     width: 350px;
     height: 350px;
     display: block;
     margin: 20px auto;

 }
 main {
display: flex;

 }

 .main-menu {
     width: 450px;
     background: #FFFFFF;
     border-radius: 20px;
     margin: 0 150px;
     padding: 20px 10px 10px;

 }


 label {
     color: #000000;
     font-weight: 70;
     font-size: 25px;

 }

 select,
 input {
     background: #FFFFFF;
     border: 1px solid #BBBBBB;
     border-radius: 4px;
     height: 48px;
     width: 400px;
     margin-bottom: 30px;
     appearance: none;
     padding-left: 18px;
     font-size: 25px;
     font-weight: 500;
     color: #555555;
     cursor: pointer;

 }

 button {
     background: #8A51FC;
     border-radius: 5px;
     width: 100%;
     border: none;
     height: 50px;
     color: #FFFFFF;
     font-size: 30px;
     font-weight: 700;
     cursor: pointer;

 }

 button:hover {
     opacity: 0.8;
 }

 button:active {
     opacity: 0.6;
 }

 section {
     border: 1px solid;

 }

 .terrestrial-globe {
     width: 350PX;
     border: none;
     margin: auto;
 }

 .arrows {
width: 200px;
margin: 20px 90px;

 }

 .response {
     width: 350px;
     background: #FFFFFF;
     border-radius: 20px;
     margin: 0 150px;
     padding: 20px 35px 30px;
 }

